{{#>base page="tag"}}
  {{#>layouts/grid}}
    {{>components/skip-link}}
    {{>components/header}}
    {{>components/tags tags=(selectedTags)}}
    <main class="content" {{region "main"}}>
      <h1 class="tag-header">#{{tag.tag}} <span class="tag-header-post-count">{{tag.posts.length}} links</span></h1>
      {{>components/graph}}
      {{>components/links}}
    </main>
    {{>components/footer}}
  {{/layouts/grid}}
{{/base}}
