<main class="content" {{region "main"}}>
  <div {{region "intro"}}>
    <div class="homepage-content">
      {{> @partial-block }}
    </div>
  </div>
  {{>components/graph}}
  {{>components/links}}
</main>
