.content {
    padding: 2em 0 1em;
    background: var(--content-bg-color);
    border-radius: 3px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: -0.6em 0 2em #00000009;
}

@media (max-width: 900px) {
    .content {
        box-shadow: none;
    }
}
