@import url("reset.css");
@import url("fonts.css");

:root {
    --primary-color: #ff4545;
    --content-width: 640px;
    --tag-badge-color: #ffe633;
    --content-bg-color: #fff;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

a {
    color: var(--primary-color);
}

strong {
    font-weight: bold;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    font: inherit;
}

body {
    font: 100 normal 16px/1.5 'Playfair Display', serif;
    background: repeating-linear-gradient(
        60deg,
        #fcfcfc,
        #f4f2f0 1px,
        #fcfcfc 2px,
        #fcfcfc 3px
    )
}

.app {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header {
    height: 256px;
    place-self: end;
    grid-row: 1;
}

.tags {
    width: min-content;
    place-self: end;
    margin-right: 3.5em;
}

.content {
    width: var(--content-width);
    grid-row: 1 / span 3;
}

.footer {
    width: var(--content-width);
    grid-column: 2;
}

@media (max-width: 640px) {
    :root {
        --content-width: 100%;
    }
}

@media (max-width: 900px) {
    .app {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header, .tags {
        place-self: center;
    }

    .tags {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-right: 0;
    }

    .content, .footer {
        grid-column: 1;
    }

    .content {
        grid-row: 3;
    }

    .footer {
        grid-row: 4;
    }
}

.logo-container {
    display: block;
    width: 256px;
    height: 256px;
    background: #fff;
    border-radius: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transform: scale(.75, .75);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.shine {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transform:
        rotate(-45deg)
        translateY(-110%);
    transition: inherit;
}

.logo-container:hover,
.logo-container:focus {
    background: #fafafa;
    transform: scale(.85, .85);
}

.logo-container:hover .shine,
.logo-container:focus .shine {
    opacity: 1;
    transform:
        rotate(-45deg)
        translateY(-85%)
}

.logo-container:focus {
    outline: none;
}

.logo-container:active {
    background: #fff;
    transform: scale(.75, .75);
}

.logo-container:active .shine {
    opacity: 0;
    transform:
        rotate(-45deg)
        translateY(-110%)
}

.logo {
    max-width: 100%;
    border-radius: inherit;
}

.tags-list-toggle-label {
    display: none;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: flex-end;
}

.tags-list-item {
    --i: 0;
    opacity: 0;
    animation: tags-list-item .3s forwards;
    animation-delay: calc(var(--i) * 25ms);
}

@keyframes tags-list-item {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tags-list-item {
    padding: 0;
    margin-left: 1em;
    white-space: nowrap;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

@media (max-width: 900px) {
    .tags-list-toggle-label {
        display: inline-block;
        position: absolute;
        right: -1.8em;
        bottom: -1.8em;
        padding: 0.3em 0.75em;
        width: 3.5em;
        height: 3.5em;
        font-size: 3em;
        font-family: sans-serif;
        background: var(--tag-badge-color);
        border-radius: 50%;
    }

    .tags-list-toggle-label::after {
        content: "#";
    }

    .tags-list-toggle[open] .tags-list-toggle-label::after {
        content: "x";
    }

    .tags-list {
        background: var(--content-bg-color);
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
        overflow: auto;
        max-height: 100vh;
        flex-wrap: nowrap;
        padding: 8em 0 4em;
    }

    .tags-list::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 30%;
        pointer-events: none;
        background: linear-gradient(to bottom, #fffd, transparent);
    }

    .tags-list-item {
        font-size: 1.6em;
    }
}

.tag-hash {
    vertical-align: text-top;
    opacity: 0.7;
    margin-right: -0.3em;
}

.tag-count-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    aspect-ratio: 1;
    vertical-align: middle;
    font-size: 0.6em;
    font-family: monospace;
    font-weight: 100;
    letter-spacing: -.04em;
    border-radius: 0.8em;
    background: var(--tag-badge-color);
    color: #96433f;
}

.content {
    padding: 2em 0 1em;
    background: var(--content-bg);
    border-radius: 3px;
    border-bottom: 1px solid #eaeaea;
    box-shadow: -0.6em 0 2em #00000009;
}

@media (max-width: 900px) {
    .content {
        box-shadow: none;
    }
}

.links {}

.link-container {}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .8em 2em 1.1em;
    font-size: 1.8em;
    font-weight: 100;
    text-decoration: none;
    color: #333;
    transition: all .3s;
}

@media (max-width: 640px) {
    .link {
        padding: .7em 1em 1em;
    }
}

.link:hover,
.link:focus {
    background: #f4f4f4;
}

.link:active {
    background: #e8e8e8;
    box-shadow: none;
}

.link-title {
    line-height: 1.4;
}

.link-url {
    margin-top: .25rem;
    font-size: .6em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color);
}

.link-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: .35rem;
    margin-bottom: -.2em;
}

.link-tag {
    font-size: 0.55em;
    margin: 0 .5em .25em 0;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .05em;
    color: #666;
}

.graph-container {}

.graph {
    width: 100%;
    aspect-ratio: 128/20;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination-buttons {
    display: flex;
    margin: 2em 0 1em;
}

.pagination-button {
    width: 36px;
    padding: .4em 0;
    margin-right: .75em;
    background: #f0f0f0;
    border-radius: 100%;
    box-shadow:
        0 0 0 3px #fff,
        0 0 0 6px transparent;
    transition:
        background .3s,
        color .3s;
}

.pagination-button:hover,
.pagination-button:focus {
    background: #ccc;
}

.pagination-button:focus {
    outline: none;
    box-shadow:
        0 0 0 2px #fff,
        0 0 0 4px #333;
    transition: all .3s;
}

.pagination-button:active {
    background: #aaa;
}

.pagination-button--active,
.pagination-button--active:hover,
.pagination-button--active:focus {
    background: #333;
    color: #fff;
}

.pagination-skipped-numbers {
    padding: .4em 0;
    margin-right: .75em;
}

.pagination-info {
    color: #555;
}

.footer {
    font-size: 1em;
    padding: 2em 0;
    color: #555;
    text-align: center;
}
