:root {
    --primary-color: #ff4545;
    --logo-fill: #e21207;
    --content-width: 640px;
    --tag-badge-color: #ffe633;
    --content-bg-color: #fff;
    --bounce-easing: linear(
        0, 0.004, 0.016, 0.035, 0.063 9.1%, 0.141, 0.25, 0.391, 0.563, 0.765, 1,
        0.891, 0.813 45.5%, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785, 0.813 63.6%, 0.891, 1 72.7%,
        0.973, 0.953, 0.941, 0.938, 0.941, 0.953, 0.973, 1,
        0.988, 0.984, 0.988, 1
    );
}
