:root {
    --bg: repeating-linear-gradient(
        60deg,
        #fcfcfc,
        #f4f2f0 1px,
        #fcfcfc 2px,
        #fcfcfc 3px
    );
    --fg: black;
    --primary-color-r: 207;
    --primary-color-g: 49;
    --primary-color-b: 33;
    --primary-color: rgb(
        var(--primary-color-r),
        var(--primary-color-g),
        var(--primary-color-b)
    );
    --footer-fg: #555;

    --logo-bezier: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    --link-color: #333;
    --link-hover-bg: #f4f4f4;
    --link-active-bg: #e8e8e8;
    --link-count-color: #333;
    --link-tag-color: #555;
    --link-tag-hover-color: #000;
    --link-tag-hover-stroke-color: #0005;

    --tag-link-color: inherit;
    --tag-badge-color: #ffe633;
    --tag-badge-number-color: #96433f;
    --header-perspective: auto;

    --logo-bg: #fff;
    --logo-fg: var(--primary-color);
    --logo-box-shadow: auto;

    --logo-hover-bg: #fafafa;
    --logo-hover-transform: scale(.85, .85);
    --logo-hover-box-shadow: auto;

    --search-input-border-color: #c8c8c8;
    --search-input-bg: auto;
    --search-input-color: auto;
    --search-input-label-color: #444;

    --chart-hover-page-bg: linear-gradient(
        to top,
        #000,
        #018 30%,
        #018 70%,
        #000
    );
    --chart-hover-blend: difference;
    --chart-active-page: lemonchiffon;
    --content-bg-color: #fff;
    --content-border-color: #eaeaea;
    --content-width: 640px;

    --tags-list-sphere-1-bg:
        radial-gradient(circle at 80% 90%, #a93700 -150%, transparent 75%),
        radial-gradient(circle at 30% 30%, #fafae5, #ffea41 30%);
    --tags-list-sphere-1-glow: none;
    --tags-list-sphere-2-bg:
        radial-gradient(circle at 80% 90%, #1e0071 -60%, transparent 80%),
        radial-gradient(circle at 30% 20%, #7e7aff, #4b07e2 40%);
    --tags-list-sphere-2-glow: none;
    --tags-list-sphere-3-bg:
        radial-gradient(circle at 80% 90%, #710000 -60%, transparent 80%),
        radial-gradient(circle at 30% 20%, #ff7a7a, #e21207 40%);
    --tags-list-sphere-3-glow: none;

    --bounce-easing: linear(
        0, 0.004, 0.016, 0.035, 0.063 9.1%, 0.141, 0.25, 0.391, 0.563, 0.765, 1,
        0.891, 0.813 45.5%, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785, 0.813 63.6%, 0.891, 1 72.7%,
        0.973, 0.953, 0.941, 0.938, 0.941, 0.953, 0.973, 1,
        0.988, 0.984, 0.988, 1
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #181a1f;
        --fg: #ddd;
        --primary-color-r: 191;
        --primary-color-g: 115;
        --primary-color-b: 168;
        --primary-color: rgb(
            var(--primary-color-r),
            var(--primary-color-g),
            var(--primary-color-b)
        );
        --footer-fg: inherit;

        --link-color: inherit;
        --link-hover-bg: #fff1;
        --link-active-bg: #aaa1;
        --link-count-color: #bbb;
        --link-tag-color: inherit;
        --link-tag-hover-color: #fff;
        --link-tag-hover-stroke-color: #fff5;

        --tag-link-color: inherit;
        --tag-badge-color: #7b2f56;
        --tag-badge-number-color: #edfd;
        --header-perspective: 400px;

        --logo-bg: transparent;
        --logo-fg: #ffe5dd;
        --logo-box-shadow:
            0 0 4vmin #ffe5dd44,
            0 .2vmin 2vmin .5vmin #ffe5dd77,
            0 -.5vmin 2vmin #a6f7;
        --logo-hover-shine-opacity: 0;

        --logo-hover-bg: transparent;
        --logo-hover-transform:
            scale(.75, .75)
            rotateY(10deg)
            rotateX(-10deg);
        --logo-hover-box-shadow:
            0 0 4vmin #ffe5dd99,
            0 .2vmin 2vmin .5vmin #ffe5dd99,
            0 -.5vmin 3vmin #a6f8;
        --logo-hover-shine-opacity: .15;

        --search-input-border-color: #383828;
        --search-input-bg: #0002;
        --search-input-color: white;
        --search-input-label-color: #aaa;

        --chart-hover-page-bg: linear-gradient(
            to top,
            transparent,
            #4a234f 30%,
            #4a234f 70%,
            transparent
        );
        --chart-hover-blend: lighten;
        --chart-active-page: violet;
        --content-bg-color: rgb(29, 30, 35);
        --content-border-color: #111;

        --tags-list-sphere-1-bg: #b59a33;
        --tags-list-sphere-1-glow:
            inset 0 0 1.5em 0em palegoldenrod, 0 0 1em 0em #fff;
        --tags-list-sphere-2-bg: darkslategray;
        --tags-list-sphere-2-glow:
            inset -.15em -.08em .2em 0em #87ebb7, 0 0 1em 0em #fffa;
        --tags-list-sphere-3-bg: darkslateblue;
        --tags-list-sphere-3-glow:
            inset -.3em 0 .35em 0em #db7070, 0 0 1em 0em #fffa
    }
}
