<footer class="footer">
  <p>
    Made by <a href="https://enes.in" target="_blank">Mustafa Enes Ertarhanacı</a> with love.
  </p>
  <p>
    Follow the feed on <a target="_blank" href="https://twitter.com/reads_feed">Twitter</a>, <a target="_blank" href="https://readsfeed.tumblr.com">Tumblr</a> or via <a target="_blank" href="https://enes.in/feed/feed.xml">RSS</a>.
  </p>
  <p>
    Source code at <a target="_blank" href="https://github.com/scriptype/feed">Github</a>.
  </p>
  
  <p>
    Powered by <a href="https://github.com/scriptype/writ-cms" target="_blank">Writ-CMS</a>.
  </p>
</footer>
