.app {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header {
    place-self: end;
    grid-row: 1;
}

.tags {
    width: min-content;
    place-self: end;
    margin-right: 3em;
}

.content {
    width: var(--content-width);
    grid-row: 1 / span 3;
}

.footer {
    width: var(--content-width);
    grid-column: 2;
}

@media (max-width: 640px) {
    :root {
        --content-width: 100vw;
    }
}

@media (max-width: 900px) {
    .app {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header, .tags {
        place-self: center;
    }

    .tags {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        margin-right: 0;
    }

    .content, .footer {
        grid-column: 1;
    }

    .content {
        grid-row: 3;
    }

    .footer {
        grid-row: 4;
    }
}
