.tags-list-toggle-label {
    position: absolute;
    bottom: 200vh;
}

.tags-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.3em;
}

.tags-list-item {
    --i: 0;
    opacity: 0;
    animation: tags-list-item .3s forwards;
    animation-delay: calc(var(--i) * 25ms);
    padding: 0;
    margin-left: 1em;
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@keyframes tags-list-item {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tags-list-item-link {
    display: inline-block;
    position: relative;
    padding-right: 1.7em;
    text-decoration-thickness: 0.04em;
    text-underline-offset: 0.1em;
    text-decoration-color: #999;
    color: inherit;
}

.tag-hash {
    margin-right: -0.3em;
    opacity: 0.7;
}

.tag-count-badge {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    aspect-ratio: 1;
    font-size: 0.7em;
    font-family: monospace;
    font-weight: 100;
    letter-spacing: -.04em;
    border-radius: 0.8em;
    background: var(--tag-badge-color);
    color: #96433f;
}

@media (max-width: 900px) {
    .tags-list-toggle-label {
        --animation-duration: 1s;
        display: inline-block;
        position: absolute;
        right: 1em;
        bottom: 1em;
        width: 2.5em;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
        background:
            radial-gradient(circle at 80% 90%, #a93700 -150%, transparent 75%),
            radial-gradient(circle at 30% 30%, #fafae5, #ffea41 30%);
        animation: bounce var(--animation-duration) var(--bounce-easing) forwards;
    }

    @keyframes bounce {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }

    .tags-list-toggle-label::after {
        content: "";
        display: inline-block;
        right: 3.5em;
        bottom: .75em;
        width: 1.33em;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        background:
            radial-gradient(circle at 80% 90%, #710000 -60%, transparent 80%),
            radial-gradient(circle at 30% 20%, #ff7a7a, #e21207 40%);
        animation: bounce var(--animation-duration) -.1s var(--bounce-easing) forwards;
    }

    .tags-list-toggle-label::before {
        content: "";
        display: inline-block;
        right: 2.7em;
        bottom: 2.45em;
        width: 0.73em;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        background:
            radial-gradient(circle at 80% 90%, #1e0071 -60%, transparent 80%),
            radial-gradient(circle at 30% 20%, #7e7aff, #4b07e2 40%);
        animation: bounce var(--animation-duration) -.2s var(--bounce-easing) forwards;
    }

    .tags-list-toggle[open] .tags-list-toggle-label {}
    .tags-list-toggle[open] .tags-list-toggle-label::after {}
    .tags-list-toggle[open] .tags-list-toggle-label::before {}

    .tags-list {
        background: var(--content-bg-color);
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
        overflow: auto;
        max-height: 100vh;
        flex-wrap: nowrap;
        padding: 8em 0 4em;
    }

    .tags-list::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 30%;
        pointer-events: none;
        background: linear-gradient(to bottom, #fffd, transparent);
    }

    .tags-list-item {
        font-size: 1.6em;
    }
}
