.content {
    position: relative;
    padding: 150px 0 1em;
    background: var(--content-bg-color);
    border-radius: 3px;
    border-bottom: 1px solid var(--content-border-color);
    box-shadow: -0.6em 0 2em #00000009;
}

@media (max-width: 900px) {
    .content {
        box-shadow: none;
    }
}

[data-region-id="intro"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2em;
}

[data-region-id="intro"].entering {
    animation: enter-intro var(--transition-duration) forwards;
}

[data-region-id="intro"].exiting {
    animation: exit-intro var(--transition-duration) forwards;
    animation-timing-function: cubic-bezier(.66,-0.97,.27,1.55);
}

@keyframes enter-intro {
    from {
        opacity: 0;
        transform: scale(1.025);
    }
    to {
        opacity: 1;
        transform: translateY(1);
    }
}

@keyframes exit-intro {
    to {
        opacity: 0;
        transform: scale(1.05);
    }
}

@media (prefers-color-scheme: dark) {
    .content::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2dvmin;
      height: 50dvmin;
      translate: 0 0;
      background: radial-gradient(
          ellipse 10% 50% at left center,
          #fdd3,
          transparent
        );
      opacity: 0;
      transition: all .4s var(--logo-bezier);
    }

    .header:has(.logo-container:hover) ~ .content::after {
      opacity: 1;
    }
}
