:root {
    --debug-v-rythm: 0;
    --debug-v-rythm-offset: 3.8px;
    --debug-v-rythm-height: 0.7em;
}

body::after {
    content: "";
    display: block;
    width: calc(var(--debug-v-rythm) * 100%);
    height: calc(var(--debug-v-rythm) * 100%);
    position: fixed;
    top: var(--debug-v-rythm-offset);
    left: 0;
    z-index: 9999;
    background:
    repeating-linear-gradient(
        to bottom,
        transparent,
        transparent var(--debug-v-rythm-height),
        black calc(var(--debug-v-rythm-height) + 1px)
    );
    pointer-events: none;
}
