.graph-container {
    margin: 3em 0 4em;
    overflow: auto;
}

.graph-container:has([open]) {
    margin: 3em 0 0;
}

.js-enhanced .graph-container {
    margin: 1em 0;
}

.graph {
    height: 100px;
}

.canvas-container {
    width: min-content;
    position: relative;
}
