.links {
    perspective: 500vh;
}

.link {
    --enter-rotate-x: 30deg;
    --enter-rotate-y: 0deg;
    --enter-shift-x: 0%;
    --enter-shift-y: 4%;
    --enter-scale: .95, .95;
    --enter-duration: .2s;
    --enter-stagger: 50ms;
    --exit-shift-x: 0%;
    --exit-shift-y: 2%;
    --exit-scale: .97, .97;
    --exit-duration: .15s;
    --exit-stagger: 30ms;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .8em 2em 1.1em;
    font-size: 1.8em;
    font-weight: 100;
    transition: all .3s;
}

@media (max-width: 640px) {
    .link {
        padding: .7em 1em 1em;
    }
}

.link:hover,
.link:focus-within {
    background: var(--link-hover-bg);
}

.link:active {
    background: #e8e8e8;
    box-shadow: none;
}

.link.entering,
.link.exiting {
    transform-origin: top center;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
}

.link.entering {
    opacity: 0;
    transform:
        translate(
            calc(var(--enter-shift-x) * -1),
            calc(var(--enter-shift-y) * -1)
        )
        scale(var(--enter-scale))
        rotateX(calc(var(--enter-rotate-x) * -1))
        rotateY(calc(var(--enter-rotate-y) * -1));
    animation-name: link-enter;
    animation-duration: var(--enter-duration);
    animation-delay: calc(var(--i) * var(--enter-stagger));
}

@keyframes link-enter {
    to {
        transform:
            translate(0, 0)
            scale(1, 1)
            rotateX(0)
            rotateY(0);
        opacity: 1;
    }
}

.link.exiting {
    transform-origin: bottom center;
    animation-name: link-exit;
    animation-duration: var(--exit-duration);
    animation-delay: calc(var(--i) * var(--exit-stagger));
}

@keyframes link-exit {
    to {
        transform:
            translate(
                var(--exit-shift-x),
                var(--exit-shift-y)
            )
            scale(var(--exit-scale));
        opacity: 0;
    }
}

.link-title {
    color: var(--link-color);
    text-decoration: none;
}

.link-title::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.link-title {
    line-height: 1.4;
}

.link-url {
    margin-top: .25rem;
    font-size: .6em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color);
}

.link-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: .35rem;
    margin-bottom: -.2em;
}

.link-tag-container {
    font-size: 0.45em;
    margin-top: 0.3em;
    margin-bottom: 0.25em;
}

.link-tag {
    position: relative;
    padding: 0.3em .5em .25em 0;
    letter-spacing: .07em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-tag-color);
    box-shadow: 1px 20px 0 -15px #aaaa;
    transition: all .3s;
}

.link-tag:hover,
.link-tag:focus {
    color: var(--link-tag-hover-color);
    box-shadow: 1px 11.5px 0 -10px currentColor;
    text-shadow: 0 0 1px var(--link-tag-hover-stroke-color);
}
