.logo-container {
    display: block;
    width: 256px;
    height: 256px;
    background: var(--logo-bg);
    border-radius: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    transform: scale(.75, .75);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: var(--logo-box-shadow);
}

.shine {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    transform:
        rotate(-45deg)
        translateY(-110%);
    transition: inherit;
}

.logo-container:hover,
.logo-container:focus {
    background: var(--logo-hover-bg);
    transform: var(--logo-hover-transform);
    box-shadow: var(--logo-hover-box-shadow);
    transform-style: preserve-3d;
}

.logo-container:hover .shine,
.logo-container:focus .shine {
    opacity: var(--logo-hover-shine-opacity);
    transform:
        rotate(-45deg)
        translateY(-85%)
}

.logo-container:focus {
    outline: none;
}

.logo-container:active {
    background: #fff;
    transform: scale(.75, .75);
}

.logo-container:active .shine {
    opacity: 0;
    transform:
        rotate(-45deg)
        translateY(-110%)
}

.logo {
    --color: var(--logo-fg);
    max-width: 100%;
    border-radius: inherit;
    transform:
        scale(0.756)
        translate(.5%, -58.125%);
    height: 2200px;
    overflow: visible;
    stroke: var(--color);
    stroke-width: 1.5px;
}
