#overlay-pagination-toggle {
    position: fixed;
    width: var(--content-width);
    text-align: center;
    color: royalblue;
}

.js-enhanced #overlay-pagination-toggle {
    bottom: 200vh;
    z-index: 1;
    font-size: 0;
    text-align: initial;
    width: auto;
}

.js-enhanced #overlay-pagination-toggle:focus {
    font-size: .9em;
    height: 1.5em;
    top: var(--graph-offset-top);
    left: var(--graph-offset-left);
}

.overlay-pagination {
    display: flex;
    padding: 2em 0 1em;
}

.js-enhanced .overlay-pagination {
    position: absolute;
    inset: 0;
    flex-direction: row-reverse;
    padding: 0;
}

.overlay-pagination-item {
    --width: max-content;
    width: var(--width);
    padding: 1em .5em;
}

.overlay-pagination-item:has(.is-current) {
    background: var(--tag-badge-color);
    border-radius: .8em;
}

.js-enhanced .overlay-pagination-item {
    padding: 0;
    border-radius: 0;
    background: none;
}

.overlay-pagination-link {
    display: block;
    width: 100%;
    height: 100%;
}

.js-enhanced .overlay-pagination-link {
    /* The quickest way to get mix-blend-mode working in safari */
    -webkit-backdrop-filter: blur();
}

.js-enhanced .overlay-pagination-link {
    text-indent: -2000vw;
}

.js-enhanced .overlay-pagination-link:hover,
.js-enhanced .overlay-pagination-link:focus-visible {
    background: #018;
    mix-blend-mode: difference;
}

.overlay-pagination-link.faked-active-state {
    cursor: grabbing;
}

.overlay-pagination-link.is-current {
    background: var(--tag-badge-color);
}

.js-enhanced .overlay-pagination-link.is-current {
    --color-1: aquamarine;
    --color-2: paleturquoise;
    --color-3: blanchedalmond;
    --color-4: lemonchiffon;
    --color-5: #89ffe9;
    background: var(--color-4);
    mix-blend-mode: multiply;
    box-shadow: 0 0 0 1px #ca33;
}
