.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-125%);
    transform-origin: center top;
    opacity: .5;
    padding: 0.3em 1.6em 0.5em 0.8em;
    color: white;
    background: royalblue;
    font-size: 1.5em;
    z-index: 1;
    text-decoration: none;
    border-radius: 0 0 4em 0;
    transition: all .2s;
}

.skip-link:focus {
    opacity: 1;
    transform: translateY(0);
}
