@import url("skip-link.css");

.tag-header {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04em;
    word-spacing: 0.05em;
    text-align: center;
}

.tag-header-post-count {
    display: block;
    color: var(--link-count-color);
    font-size: .5em;
    font-weight: initial;
    word-spacing: initial;
    letter-spacing: initial;
}
