.tags-list-toggle-label {
    position: relative;
    display: list-item;
    min-width: 190px;
    width: 100%;
    margin-bottom: 2em;
    padding-left: 30px;
    text-align: center;
    color: royalblue;
    opacity: 0;
    animation: appear .2s .4s forwards;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@media (min-width: 901px) {
    .js-enhanced .tags-list-toggle-label {
        bottom: 200vh;
        font-size: 0;
    }

    .tags-list-toggle-label:focus {
        bottom: 0;
        font-size: 1em;
    }
}

.tags-list {
    --number-of-items: 22;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.3em;
}

.tags-list-item {
    --i: 0;
    opacity: 0;
    animation: tags-list-item .3s forwards;
    animation-delay: calc(var(--i) * 25ms);
    padding: 0;
    margin-left: 1em;
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@keyframes tags-list-item {
    from {
        transform: translateX(-10%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tags-list-item-link {
    display: inline-block;
    position: relative;
    padding-right: 1.7em;
    text-decoration-thickness: 0.04em;
    text-underline-offset: 0.1em;
    text-decoration-color: #999;
    color: var(--tag-link-color);
}

.tag-hash {
    margin-right: -0.3em;
    opacity: 0.7;
}

.tag-count-badge {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    aspect-ratio: 1;
    font-size: 0.7em;
    font-family: monospace;
    font-weight: 100;
    letter-spacing: -.04em;
    border-radius: 0.8em;
    background: var(--tag-badge-color);
    color: var(--tag-badge-number-color);
}

@media (max-width: 900px) {
    ::-webkit-details-marker {
        display: none;
    }

    body:has(.tags-list-container[open]) {
        overflow: hidden;
    }

    body.tags-list-is-open {
        overflow: hidden;
    }

    .tags-list-toggle-label {
        --animation-duration: 1s;
        display: inline-block;
        position: absolute;
        right: 1em;
        bottom: 1em;
        width: 3.5em;
        min-width: auto;
        margin: 0;
        text-indent: -2000vw;
        aspect-ratio: 1;
        border-radius: 50%;
        cursor: pointer;
        opacity: 1;
        background: var(--tags-list-sphere-1-bg);
        box-shadow: var(--tags-list-sphere-1-glow);
        animation: bounce var(--animation-duration) var(--bounce-easing) forwards;
    }

    .tags-list-toggle-label,
    .tags-list-toggle-label::before,
    .tags-list-toggle-label::after {
        z-index: 2;
    }

    @keyframes bounce {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }

    .tags-list-toggle-label::before,
    .tags-list-toggle-label::after {
        content: "";
        display: inline-block;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
    }

    .tags-list-toggle-label::after {
        right: 3.8em;
        bottom: 1.05em;
        width: 1.33em;
        background: var(--tags-list-sphere-3-bg);
        box-shadow: var(--tags-list-sphere-3-glow);
        animation: bounce var(--animation-duration) -.1s var(--bounce-easing) forwards;
    }

    .tags-list-toggle-label::before {
        right: 3.3em;
        bottom: 2.75em;
        width: 0.73em;
        background: var(--tags-list-sphere-2-bg);
        box-shadow: var(--tags-list-sphere-2-glow);
        animation: bounce var(--animation-duration) -.2s var(--bounce-easing) forwards;
    }

    .tags-list-toggle[open] .tags-list-toggle-label {}
    .tags-list-toggle[open] .tags-list-toggle-label::after {}
    .tags-list-toggle[open] .tags-list-toggle-label::before {}

    /*
     * For some reason, mobile safari eats up a chunk from top padding.
     * Increase padding-top, and move top fader-gradient lower
     * It looks slightly agressive on responsive emulator, but fine on phone.
     * */
    .tags-list {
        background: var(--content-bg-color);
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
        height: 100vh;
        padding: 30vh 0 15vh;
        overflow: auto;
        flex-wrap: nowrap;
    }

    .tags-list::after,
    .tags-list::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30%;
        pointer-events: none;
    }

    .tags-list::before {
        top: 0;
        z-index: 1;
        background: radial-gradient(
            ellipse 100% 100% at center 10%,
            var(--content-bg-color) 20%,
            transparent
        );
    }

    .tags-list::after {
        bottom: 0;
        background: radial-gradient(
            ellipse 100% 100% at center 120%,
            var(--content-bg-color) 20%,
            transparent
        );
    }

    .tags-list-item {
        font-size: 1.6em;
    }
}

@media (prefers-color-scheme: dark) {
    .tags-list-item,
    .tag-count-badge {
        transition: all .4s;
    }

    .header:has(.logo-container:hover, .logo-container:focus-within) ~ .tags .tags-list-item {
        --proximity: calc(1 - var(--i) / var(--number-of-items));
        text-shadow:
            .25dvmin calc(2.5dvmin - var(--proximity) * 1.2dvmin)
            calc(1.75dvmin - var(--proximity) * 1dvmin)
            rgba(0, 0, 0, var(--proximity)),
            -.1dvmin -.1dvmin .2dvmin
                hsla(30, 100%, 60%,
                    calc(var(--proximity) * var(--proximity) - .25)
                );
    }

    .header:has(.logo-container:hover, .logo-container:focus-within) ~ .tags .tag-count-badge {
        box-shadow:
            inset .1dvmin .3dvmin .3dvmin #fed3,
            inset -.1dvmin -.3dvmin .3dvmin #3213;
    }
}
